.tab-bar{
  display: flex;
  flex-direction: row;
  height: 49px;
  border-top: 1px solid #ccc;
}

.tab-bar .tab-bar-item {
  flex: 1;
  height: 100%;
}

.tab-bar .tab-bar-item a.link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tab-bar .tab-bar-item a.link.active{
  color: red;
}

.tab-bar .tab-bar-item a.link .iconfont{
  font-size: 24px;
}

.tab-bar .tab-bar-item a.link .text{
  font-size: 16px;
}