
.switch-login-mode{
  height: 40px;
  padding: 0 10px 0 10px;
  border-bottom: 5px solid #ccc;
}

.switch-login-mode .tab-list{
  display: flex;
  position: relative;
}

.switch-login-mode .tab-list .tab-item{
  flex: 1;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
}

.switch-login-mode .tab-list .slide{
  position: absolute;
  bottom: -5px;
  width: 50%;
  height: 5px;
  background-color: orange;
  transition: all .5s;
}

.switch-login-mode .tab-list .slide.active{
  transform: translate(100%, 0);
}