.movie-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.movie-card .movie-card-pic{
  width: 64px;
}

.movie-card .movie-card-pic img{
  width: 100%;
  height: 100%;
}

.movie-card-info{
  flex: 1;
  overflow: hidden;
  padding-left: 10px;
}

.movie-card-info .movie-card-info-title{
  position: relative;
  overflow: hidden;
  height: 30px;
  padding-right: 45px;
  color: #333;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-card-info .movie-card-info-title .title-text{
  font-size: 16px;
  font-weight: bold;
}

.movie-card-info .movie-card-info-title .title-icon{
  position: absolute;
  right: 5px;
  width: 43px;
}

.movie-card-info .line-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-size: 13px;
  line-height: 20px;
}

.movie-card-info .line-ellipsis span{
  color: orange;
}

.movie-card-mall span.btn{
  display: block;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}

.movie-card-mall span.btn.orange{
  background-color: orange;
}

.movie-card-mall span.btn.blue{
  background-color: #3c9fe6;
}