
.verify-form{
  padding-left: 10px;
}

.verify-form .input-box{
  padding: 7px 10px 7px 0;
} 

.verify-form .input-box.phone-box{
  display: flex;
  border-bottom: 1px solid #ccc;
}

.verify-form .input-box.phone-box .phone{
  flex: 1;
}

.verify-form .input-box.phone-box .verify{
  padding-left: 10px;
}

.verify-form .btn-box{
  padding-right: 10px;
  margin-top: 10px;
}